trigger:
- main

pool:
  name: LaptopPool

# --------------------
# PIPELINE PARAMETERS
# --------------------
parameters:
- name: azureServiceConnection
  displayName: Azure Service Connection Name
  type: string
  default: demo-service-connection

- name: webAppName
  displayName: Azure Web App Name
  type: string
  default: demo-app-service

# --------------------
# VARIABLES
# --------------------
variables:
  azureServiceConnection: ${{ parameters.azureServiceConnection }}
  webAppName: ${{ parameters.webAppName }}
  projectRoot: $(System.DefaultWorkingDirectory)

stages:

# --------------------
# BUILD STAGE
# --------------------
- stage: Build
  displayName: Build
  jobs:
  - job: BuildJob
    displayName: Install Dependencies
    steps:
    - script: |
        source ~/python3.12_venv/bin/activate
        python --version
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest-cov
      displayName: Install dependencies (Python 3.12)

# --------------------
# TEST STAGE
# --------------------
- stage: Test
  displayName: Test
  dependsOn: Build
  jobs:
  - job: TestJob
    displayName: Run Tests
    steps:
    - script: |
        source ~/python3.12_venv/bin/activate
        pip install pytest pytest-azurepipelines
        pytest --cov=. --cov-report=xml
      displayName: Run pytest

    - task: PublishCodeCoverageResults@2
      displayName: Publish code coverage
      inputs:
        codeCoverageTool: Cobertura
        summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage.xml'

# --------------------
# PACKAGE STAGE
# --------------------
- stage: Package
  displayName: Archive and Publish Artifact
  dependsOn: Test
  jobs:
  - job: PackageJob
    displayName: Package Application
    steps:
    - task: ArchiveFiles@2
      displayName: Archive app.zip
      inputs:
        rootFolderOrFile: '$(projectRoot)'
        includeRootFolder: false
        archiveType: zip
        archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
        replaceExistingArchive: true

    - publish: '$(Build.ArtifactStagingDirectory)/app.zip'
      artifact: drop

# --------------------
# DEPLOY STAGE
# --------------------
- stage: Deploy
  displayName: Deploy to Azure App Service
  dependsOn: Package
  condition: succeeded()
  jobs:
  - deployment: DeployWebApp
    displayName: Deploy Job
    environment: dev
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - task: AzureWebApp@1
            displayName: Deploy Web App
            inputs:
              azureSubscription: $(azureServiceConnection)
              appName: $(webAppName)
              package: '$(Pipeline.Workspace)/drop/app.zip'

