trigger:
- main

pool:
  name: LaptopPool

stages:

# --------------------
# BUILD STAGE
# --------------------
- stage: Build
  displayName: Build
  jobs:
  - job: BuildJob
    displayName: Install Dependencies
    steps:
    - script: |
        source ~/python3.12_venv/bin/activate
        python --version
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest-cov
      displayName: Install dependencies (Python 3.12)

# --------------------
# TEST STAGE
# --------------------
- stage: Test
  displayName: Test
  dependsOn: Build
  jobs:
  - job: TestJob
    displayName: Run Tests
    steps:
    - script: |
        source ~/python3.12_venv/bin/activate
        pip install pytest pytest-azurepipelines
        pytest --cov=. --cov-report=xml
      displayName: Run pytest
    - task: PublishCodeCoverageResults@2
      displayName: Publish code coverage
      inputs:
        codeCoverageTool: Cobertura
        summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage.xml'

# --------------------
# RUN STAGE
# --------------------
- stage: Run-Local
  displayName: "Run Application locally on Laptop for 60 seconds"
  dependsOn: Test
  jobs:
  - job: RunJob
    displayName: Start App
    steps:
    - script: |
        source ~/python3.12_venv/bin/activate
        timeout 60s python src/app.py || true
      displayName: Run application on laptop
# ====================
# DEPLOY STAGE
# ====================
- stage: Deploy
  displayName: Deploy to Azure App Service
  dependsOn: Test
  condition: succeeded('Test')
  jobs:
  - deployment: DeployWebApp
    displayName: Deploy Job
    environment: dev
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - task: AzureWebApp@1
            displayName: Deploy Web App
            inputs:
              azureSubscription: $(azureServiceConnection)
              appName: $(webAppName)
              package: '$(Pipeline.Workspace)/drop/app.zip'
    
