trigger:
- main

pool:
  name: LaptopPool

# --------------------
# PIPELINE PARAMETERS
# --------------------
parameters:
- name: azureServiceConnection
  type: string
  default: demo-service-connection

- name: webAppName
  type: string
  default: demo-app

stages:

# --------------------
# BUILD STAGE
# --------------------
- stage: Build
  displayName: Build
  jobs:
  - job: BuildJob
    steps:
    - script: |
        source ~/python3.12_venv/bin/activate
        python --version
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest-cov

# --------------------
# TEST STAGE
# --------------------
- stage: Test
  dependsOn: Build
  jobs:
  - job: TestJob
    steps:
    - script: |
        source ~/python3.12_venv/bin/activate

# --------------------
# PACKAGE STAGE
# --------------------
- stage: Package
  dependsOn: Test
  jobs:
  - job: PackageJob
    steps:
    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
        includeRootFolder: false
        archiveType: zip
        archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
        replaceExistingArchive: true

    - publish: '$(Build.ArtifactStagingDirectory)/app.zip'
      artifact: drop

# --------------------
# DEPLOY STAGE
# --------------------
- stage: Deploy
  dependsOn: Package
  jobs:
  - deployment: DeployWebApp
    environment: dev
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - task: AzureWebApp@1
            inputs:
              azureSubscription: ${{ parameters.azureServiceConnection }}
              appName: ${{ parameters.webAppName }}
              package: '$(Pipeline.Workspace)/drop/app.zip'

