trigger:
- main

pool:
  name: LaptopPool

stages:

# --------------------
# BUILD STAGE
# --------------------
- stage: Build
  displayName: Build
  jobs:
  - job: BuildJob
    displayName: Install Dependencies
    steps:
    - script: |
        source ~/python3.12_venv/bin/activate
        python --version
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      displayName: Install dependencies (Python 3.12)

# --------------------
# TEST STAGE
# --------------------
- stage: Test
  displayName: Test
  dependsOn: Build
  jobs:
  - job: TestJob
    displayName: Run Tests
    steps:
    - script: |
        source ~/python3.12_venv/bin/activate
        pip install pytest pytest-azurepipelines
        pytest
      displayName: Run pytest

# --------------------
# RUN STAGE
# --------------------
- stage: Run
  displayName: Run Application
  dependsOn: Test
  jobs:
  - job: RunJob
    displayName: Start App
    steps:
    - script: |
        source ~/python3.12_venv/bin/activate
        python src/main.py
      displayName: Run application
