# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- main

pool:
  name: LaptopPool 

steps:

- script: |
    source ~/python3.12_venv/bin/activate
    python --version
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies Python 3.12'

- script: |
    pip install pytest pytest-azurepipelines
    pytest
  displayName: 'pytest'
